.container {
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #484848;
  }

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input {
    direction: ltr;
    width: 100%;
    padding: 0.7rem;
    padding-right: 2.5rem;    // space for icon
    border: 2px solid #fff;   // default white
    border-radius: 8px;
    transition: border-color 0.2s ease;
    background: #333;
    color: #fff;
    font-size: 1.1rem;

  }
  .input.error {
    border-color: red;
  }
  .input.valid {
    border-color: lime;
  }

  .iconSuccess,
  .iconError {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    font-size: 1.25rem;
    pointer-events: none;
  }
  .iconSuccess {
    color: lime;
  }
  .iconError {
    color: red;
  }

  .errorMsg {
    color: red;
    margin-top: 0.25rem;
  }
}
